.main-header {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  z-index: 17;
}

.main-header_home {
  position: absolute;
  left: 0;
  margin-top: 75px;
}

.main-sub-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  color: #4c4c4c;
  z-index: 8;
  a {
    transition: all 0.2s ease-out;
    &:hover {
      color: #333333;
      text-decoration: none;
    }
  }
  .email {
    text-decoration: underline;
  }
}

.main-sub-header_highlight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  img {
    display: block;
    margin-right: 5px;
  }
}

.main-sub-header_highlight_call {
  font-size: 16px;
  color: #c2281c;
  text-decoration: underline;
  img {
    display: block;
    margin-right: 5px;
  }
}

.home-slider__free {
  display: block;
  position: absolute;
  width: 310px;
  left: 0;
  margin-top: 75px;
  padding-left: 30px;
  border-bottom: 3px solid #c2281c;
  font-size: 22px;
  z-index: 7;
  i {
    color: #c2281c;
  }
}

.home-slider__logo {
  position: absolute;
  width: 20%;
  left: 40%;
  margin-top: 250px;
  z-index: 6;
  img {
    width: 100%;
  }
}

.home-slider__form {
  width: 250px;
  position: absolute;
  right: 0;
  margin-top: 500px;
  margin-right: 30px;
  z-index: 5;
  span {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: black;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 18px;
    border: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease-out;
    &:active,
    &:focus {
      border-color: rgba(194, 40, 28, 0.9);
      ;
      background-color: rgba(247, 247, 247, 1.0);
    }
  }
  a {
    display: block;
    text-align: center;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: rgba(194, 40, 28, 0.9);
    color: #ffffff;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: rgba(194, 40, 28, 1.0);
      text-decoration: none;
    }
  }
}

.home-slider__form_btn {
  display: block;
  text-align: center;
  padding: 10px 18px;
  border-radius: 6px;
  background-color: rgba(194, 40, 28, 0.9) !important;
  color: #ffffff;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: rgba(194, 40, 28, 1.0) !important;
    text-decoration: none;
  }
}

.main-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
  border-top: 3px solid #c2281c;
}

.main-title__text {
  display: inline-block;
  margin-top: -17px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  background-color: #ffffff;
}

.home-features {
  padding-bottom: 40px;
}

.home-features__card_border {
  position: absolute;
  display: block;
  top: 65px;
  width: 140px;
  height: 140px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #d3d3d3;
  transform: rotate(0deg);
  transition: all 0.2s ease-out;
}

.home-features__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  color: #222220;
  transition: all 0.2s ease-out;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  img {
    max-width: 200px;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  span {
    display: block;
  }
  &:hover {
    text-decoration: none;
    color: #c2281c;
    .home-features__card_border {
      border: 6px solid #c2281c;
      transform: rotate(45deg);
    }
  }
  .home-features__card_border {
    border: none;
  }
  img {
    //border: 6px solid #d3d3d3;
  }
  &::after {
    display: inline-block;
    position: absolute;
    content: "";
    top: 45px;
    left: 0px;
    right: 0;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border: 6px solid #d3d3d3;
    transition: all 0.2s ease-out;
  }
  &:hover {
    &::after {
      border-color: #ba3223;
      transform: rotate(45deg);
    }
    .home-features__card_border {
      display: none;
    }
  }
}

.home-works {
  padding-top: 40px;
  padding-bottom: 40px;
}

.home-reviews {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-map {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-map__about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: absolute;
  max-width: 350px;
  height: 300px;
  margin-top: -305px;
  padding: 20px 90px 20px 20px;
  background-image: url('../images/bg_footer.png');
  background-size: contain;
  background-position: 0;
  background-repeat: no-repeat;
  z-index: 11;
  p {
    display: block;
    color: #333333;
    font-size: 16px;
  }
  span {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #ba3223;
  }
  a {
    position: absolute;
    display: block;
    bottom: 12px;
    color: white;
    font-size: 14px;
  }
}

.main-footer {
  background-color: rgb(244, 242, 243);
}

.main-footer__links {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  a {
    display: inline-block;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: all 0.2s ease-out;
    &:hover {
      border-color: #c2281c;
    }
    img {
      max-width: 64px;
    }
  }
}

.home-slider__logo_page {
  max-width: 150px;
  left: 5%;
  margin-top: 70px;
  opacity: 0.8;
}

.home-slider__logo_page_wo {
  margin-top: 0;
}

.home-slider__block {
  position: absolute;
  max-width: 600px;
  min-height: 500px;
  padding: 40px 140px 40px 30px;
  right: 0;
  margin-top: 220px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  z-index: 14;
}

.home-slider__title {
  display: block;
  position: absolute;
  margin-top: -73px;
  margin-left: -30px;
  font-weight: 600;
  font-size: 26px;
  color: #c2281c;
}

.about-features {
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-feature {
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-out;
  .about-feature_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transition: all 0.2s ease-out;
  }
  span {
    display: block;
    margin-top: 10px;
  }
}

.about-why {
  padding-top: 40px;
  padding-bottom: 10px;
}

.about-why__card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 900px;
  font-size: 16px;
  img {
    display: inline-block;
    margin-right: 20px;
  }
}

.why-card__text {
  display: inline-block;
  span {
    color: #c2281c;
  }
}

.home-slider__stocks {
  display: block;
  position: absolute;
  width: 60%;
  left: 20%;
  margin-top: 200px;
  z-index: 19;
}

.stock-text {
  padding-top: 40px;
  padding-bottom: 30px;
}

.home-slider__about {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 250px;
  z-index: 14;
}

.home-slider-about__block {
  display: inline-flex;
  text-align: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 35px 45px;
  p {
    margin-top: 10px;
  }
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #c2281c;
        margin: 5px;
        max-width: 30px;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #222220;
        }
      }
    }
  }
}

.decorations-cards {
  padding-top: 50px;
}

.decorations-card {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 70px;
}

.decorations-card__description {
  padding: 35px 20px;
  background-color: #e9e9e9;
  width: 50%;
  span {
    display: block;
    color: #ba3223;
    margin-bottom: 15px;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 18px;
  }
  p {
    color: #3b3a3a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}

.decorations-card__slider {
  width: 50%;
}

#owl-decoration-1 .item img {
  display: block;
  width: 100%;
  height: 575px;
  object-fit: cover;
  object-position: left;
}

#owl-decoration-2 .item img {
  display: block;
  width: 100%;
  height: 575px;
  object-fit: cover;
  object-position: left;
}

#owl-decoration-3 .item img {
  display: block;
  width: 100%;
  height: 575px;
  object-fit: cover;
  object-position: left;
}

#owl-decoration-4 .item img {
  display: block;
  width: 100%;
  height: 575px;
  object-fit: cover;
  object-position: left;
}

#owl-decoration-5 .item img {
  display: block;
  width: 100%;
  height: 575px;
  object-fit: cover;
  object-position: left;
}

#owl-decoration-6 .item img {
  display: block;
  width: 100%;
  height: 575px;
  object-fit: cover;
  object-position: left;
}

.repair-cards-block {
  padding-top: 10px;
  padding-bottom: 20px;
}

.repair-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.repair-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 320px;
  margin-bottom: 10px;
  img {
    display: block;
    max-width: 100%;
    height: 320px;
    object-fit: cover;
    -webkit-filter: brightness(50%);
    transition: all 0.2s ease-out;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 96%;
    top: 110px;
    left: 2%;
    right: 2%;
    height: 80px;
    border-bottom: 2px solid #c2281c;
    position: absolute;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    text-align: center;
    transition: all 0.2s ease-out;
  }
  &:hover {
    img {
      -webkit-filter: brightness(100%);
    }
    span {
      display: none;
    }
  }
}

.furniture-cards-block {
  padding-top: 10px;
  padding-bottom: 20px;
}

.furniture-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.furniture-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin-bottom: 10px;
  img {
    display: block;
    max-width: 100%;
    height: 380px;
    object-fit: cover;
    -webkit-filter: brightness(50%);
    transition: all 0.2s ease-out;
  }
  span {
    display: block;
    min-width: 250px;
    padding: 10px 0;
    border-bottom: 2px solid #c2281c;
    position: absolute;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    transition: all 0.2s ease-out;
    text-align: center;
  }
  &:hover {
    img {
      -webkit-filter: brightness(100%);
    }
    span {
      display: none;
    }
  }
}

.slider-sale {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: absolute;
  z-index: 5;
  top: 36px;
  left: 0;
  width: 100%;
  max-width: 855px;
  height: 775px;
  padding-left: 140px;
  padding-right: 140px;
  background-image: url('../images/bg_slider.png');
  background-size: auto 100%;
  background-position: 0;
  background-repeat: no-repeat;
}

.slider-sale-def_2 {
  display: block;
  color: #2f2f2f;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-sale-def {
  display: block;
  color: #2f2f2f;
  font-family: "Open Sans";
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-sale-red {
  display: block;
  color: #fe0c00;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 700;
  line-height: 81px;
  text-transform: uppercase;
}

.sale-cards {
  margin-top: 20px;
  margin-bottom: 40px;
}

.sale-card {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 45px;
  transition: all 0.2s ease-out;
  img {
    display: block;
    margin-right: 30px;
    width: 250px;
    height: 160px;
    object-fit: cover;
    transition: all 0.2s ease-out;
  }
  span {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #2f2f2f;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.2s ease-out;
  }
  p {
    color: #6d6d6d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  &:hover {
    text-decoration: none;
    span {
      color: #c2281c;
    }
    img {
      -webkit-filter: brightness(30%);
    }
  }
}

.main-sub-header_relative {
  position: relative;
}

.main-header_relative {
  position: relative;
  margin-top: 40px;
  margin-bottom: 80px;
}

.flat-card__title {
  display: none;
  position: absolute;
  text-align: center;
  color: white;
  width: 350px;
  margin-top: -130px;
  transition: all 0.2s ease-out;
}

.flat-card__img {
  display: block;
  width: 100%;
  transition: all 0.2s ease-out;
}

.flat-card__description {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: black;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  transition: all 0.2s ease-out;
  p {
    margin: 0;
  }
  span {
    font-size: 18px;
  }
}

.flats-cards {
  padding-top: 30px;
}

.flat-card {
  display: inline-block;
  max-width: 365px;
  margin: 0 5px 40px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-out;
  &:hover {
    text-decoration: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: #c2281c;
    .flat-card__img {
      -webkit-filter: brightness(50%);
    }
    .flat-card__description {
      color: #c2281c;
      .flat-card__title {
        display: block;
      }
    }
  }
}

#sync1 .item {
  display: block;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    margin: 5px;
    margin-bottom: 10px;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    transition: all 0.2s ease-out;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 280px;
      object-fit: cover;
      transition: all 0.2s ease-out;
      -webkit-filter: brightness(80%);
    }
    .zoom {
      width: 30px;
      height: 30px;
      position: absolute;
      object-fit: none;
      -webkit-filter: brightness(100%);
    }
    &:hover {
      img {
        -webkit-filter: brightness(100%);
      }
    }
  }
}

#sync2 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  margin: 5px;
  border: 1px solid #8e8a8a;
  color: #ffffff;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 100%;
    height: 60px;
    object-fit: cover;
    -webkit-filter: brightness(40%);
    transition: all 0.2s ease-out;
  }
  .zoom {
    position: absolute;
    max-width: 100% !important;
    object-fit: none;
    -webkit-filter: brightness(100%);
  }
  &:hover {
    img {
      -webkit-filter: brightness(100%);
    }
  }
}

#sync2 .synced .item {
  border: 1px solid #c2281c;
  background: #c2281c;
  img {
    -webkit-filter: brightness(100%);
  }
}

.flat-description {
  padding-left: 50px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans";
  color: #505050;
  font-weight: 300;
  span {
    color: black;
    font-weight: 700;
  }
}

.flat-description__title {
  display: block;
  margin-bottom: 15px;
  color: black;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
}

.flat-card__description {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: black;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 45px;
  transition: all 0.2s ease-out;
}

.flat-description__pre {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-cards {
  padding-bottom: 20px;
}

.blog-card {
  margin-bottom: 20px;
  span {
    display: block;
    margin-bottom: 20px;
    color: #c2281c;
    font-family: "Open Sans";
    font-size: 32px;
  }
}

.blog-card__description {
  display: flex;
  flex-flow: row nowrap;
  img {
    display: block;
    margin-right: 20px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
  }
  p {
    display: block;
    min-height: 250px;
    color: black;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
  }
  .blog-btn {
    display: inline-block;
    padding: 8px 26px;
    border: 3px solid #c2281c;
    border-radius: 4px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: #c2281c;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #c2281c;
      color: white;
      text-decoration: none;
    }
  }
}

.features-features {
  position: absolute;
  width: 100%;
  margin-top: 200px;
  z-index: 3;
  span {
    color: black !important;
  }
  img {
    z-index: 1;
  }
  .home-features__card_border {
    background-color: white;
    z-index: -1;
  }
  .home-features__card {
    .home-features__card_border {
      border: none;
    }
    img {
      //border: 6px solid #d3d3d3;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      top: 45px;
      left: 0px;
      right: 0;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border: 6px solid #d3d3d3;
      transition: all 0.2s ease-out;
    }
    &:hover {
      &::after {
        border-color: #ba3223;
        transform: rotate(45deg);
      }
      .home-features__card_border {
        display: none;
      }
    }
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.main-breadcrump {
  position: absolute;
  display: block;
  min-width: 215px;
  max-width: 100%;
  margin-top: -620px;
  right: 390px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.38);
  border-radius: 3px;
  box-shadow: inset 1px 0 0 #a1a1a1;
  z-index: 15;
  a {
    color: #010101;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.main-name {
  display: block;
  min-width: 600px;
  margin-top: 15px;
  padding-bottom: 3px;
  border-bottom: 3px solid #c2281c;
  color: #c2291d;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 18px;
}

.home-seo {
  padding-bottom: 40px;
  color: #333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
    font-family: "Open Sans";
    font-weight: 600;
  }
  h1 {
    color: #333;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
  }
  h2 {
    color: #333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  h3 {
    color: #333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
  .col-sm-6 {
    .row {
      padding-right: 20px;
    }
  }
}

.text-page {
  padding-bottom: 40px;
  color: #333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
    font-family: "Open Sans";
    font-weight: 600;
  }
  h1 {
    color: #333;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
  }
  h2 {
    color: #333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  h3 {
    color: #333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}

.logo_def {
  margin-top: -200px;
}

.bread-def {
  margin-top: -60px;
}

#owl-sale .owl-controls {
  margin-top: 0;
  top: 95%;
}

.name-slide {
  position: absolute;
  margin-top: -655px;
  right: 0;
  z-index: 5;
}

.project-text {
  padding-top: 30px;
  background-color: #e3e3e3;
  background-image: url('../images/bgq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-title {
  display: inline-block;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: bold;
  color: #1e1e1e;
}

.project-title_line {
  margin-bottom: 30px;
  max-width: 100%;
}

.project-step {
  margin-bottom: 20px;
  ul {
    margin: 0;
    padding: 0;
    color: #c2291d;
    li {
      span {
        font-size: 18px;
        color: #1e1e1e;
      }
    }
  }
}

.project-pre-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 15px;
  img {
    display: block;
    margin-bottom: 10px;
  }
  .step-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #1e1e1e;
  }
}

.project-cards {
  .main-title {
    margin-bottom: 40px;
  }
  .main-title__text {
    font-size: 16px;
    margin-top: -12px;
  }
}

.project-card {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 60px;
}

.project-card__description {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  padding: 35px 20px;
  background-color: #e9e9e9;
  width: 50%;
  .project-card__title {
    display: block;
    color: #1e1e1e;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: bold;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid #e31f14;
    border-bottom: 3px solid #e31f14;
  }
}

.main-sub-header__call {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.main-sub-header_highlight {
  padding-left: 10px;
  padding-right: 10px;
}

.wwForm_default input:not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=range]):not([type=image]):not([type=color]),
.wwForm_default textarea,
.wwForm_default select {
  border-color: transparent !important;
}

.owl-decoration__logo {
  display: block !important;
  position: absolute !important;
  width: 100px !important;
  height: 100px !important;
  top: 20px;
  left: 20px;
}

ul.nav li.dropdown:hover>ul.dropdown-menu {
  display: block !important;
}