@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .home-slider__free {
    display: none;
  }
  .main-sub-header {
    font-size: 11px;
  }
  .navbar-nav {
    padding-right: 0;
  }
  .flats-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .features-features {
    .row {
      padding-top: 20px;
      max-height: 700px;
      overflow: scroll;
    }
  }
}

@media (max-width: 770px) {
  .main-sub-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    span {
      display: none;
    }
    .main-sub-header__call {
      span {
        display: flex;
      }
    }
  }
  .navbar-nav {
    margin-top: 0;
    float: none;
    padding-right: 0;
    border: none;
    text-align: center;
  }
  .home-slider__logo {
    width: 34%;
    left: 33%;
  }
  .home-slider__form {
    width: 80%;
    right: auto;
    margin-left: 10%;
    margin-right: 10%;
  }
  .main-header {
    justify-content: center;
  }
  .main-header_home {
    margin-top: 5px;
  }
  .about-why__card {
    flex-flow: column wrap;
    img {
      width: 30%;
      height: 30%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .why-card__text {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-slider__block {
    width: 100%;
    padding: 10px;
    font-size: 13px;
  }
  .home-slider__title {
    margin-left: 0;
  }
  .navbar-nav {
    background-color: #fff;
  }
  .home-slider__stocks {
    width: 100%;
    left: auto;
  }
  .home-slider__logo_page {
    margin-top: 60px;
  }
  .decorations-card {
    flex-flow: column wrap;
    margin-bottom: 20px;
  }
  .decorations-card__description {
    width: 100%;
  }
  .decorations-card__slider {
    width: 100%;
  }
  .repair-cards {
    justify-content: center;
  }
  .slider-sale {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sale-cards {
    margin-top: 5px;
    margin-bottom: 10;
  }
  .sale-card {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 5px;
    div:last-child {
      width: 100%;
    }
  }
  .flat-description {
    padding: 20px;
  }
  .blog-card__description {
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  #owl-reviews .item {
    background-size: auto 100%;
    background: #f3f3f3;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .home-slider__logo_page_wo {
    width: 100%;
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    position: relative;
    opacity: 1;
    img {
      display: block;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
  }
  .main-breadcrump {
    display: none;
  }
  .main-name {
    display: none;
  }
  .home-seo {
    padding: 15px;
    .col-sm-6 {
      .row {
        padding-right: auto;
      }
    }
  }
  .text-page {
    padding: 15px;
  }
  .logo_def {
    margin-top: 0px;
  }
  .main-header_home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: auto;
    .navbar-collapse {
      overflow: visible;
    }
  }
  .navbar-toggle {
    display: inline-flex;
    max-width: 100px;
    margin-bottom: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: flex-start;
    position: absolute;
    float: none;
    z-index: 999;
    img {
      display: block;
      margin-bottom: 10px;
    }
  }
  .main-map__about {
    position: relative;
    margin-top: 0;
  }
  .project-card {
    flex-flow: column wrap;
    margin-bottom: 20px;
  }
  .project-card__description {
    width: 100%;
  }
  .slider-sale {
    padding-top: 275px;
    background-image: none;
  }
  .home-features__card {
    .home-features__card_border {
      border: none;
    }
    img {
      //border: 6px solid #d3d3d3;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      top: 45px;
      left: auto;
      right: auto;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border: 6px solid #d3d3d3;
      transition: all 0.2s ease-out;
    }
    &:hover {
      &::after {
        border-color: #ba3223;
        transform: rotate(45deg);
      }
      .home-features__card_border {
        display: none;
      }
    }
  }
  .navbar-nav {
    margin-right: 0;
    position: fixed;
    left: 20px;
    top: 60px;
  }
  .main-sub-header__call {
    flex-flow: column wrap;
  }
  .home-slider {
    .home-features__card img {
      border: none;
    }
  }
  .features-features-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .home-features__card {
      .home-features__card_xs {
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 175px;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: white;
        border: none;
        img {
          margin: 0;
        }
      }
    }
  }
  .home-features__card_xs {
    border: none;
  }
  .features-features .home-features__card_border {
    display: none;
  }
  .main-map__about {
    span {
      font-size: 16px;
    }
  }
  .furniture-cards {
    justify-content: center;
    align-items: center;
  }
  .furniture-card {
    &:hover {
      span {
        display: block;
      }
    }
  }
  .main-sub-header {
    align-items: flex-end;
    padding-right: 20px;
  }
  .main-sub-header__call {
    text-align: right;
    align-items: flex-end;
  }
  .main-sub-header_highlight {
    padding: 0;
  }
  #owl-home .item img {
    object-position: 0 0;
  }
  .carousel-inner>.item>img,
  .carousel-inner>.item>a>img {
    height: 400px;
    object-position: 0 0;
  }
  .home-features__card_border {
    display: none;
  }
  .owl-reviews-card {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .owl-reviews-card__img {
    display: inline-block;
    margin: 0 auto 20px;
    img {
      -webkit-clip-path: none;
      width: 150px;
      height: 150px;
    }
  }
  .owl-reviews-card__description {
    p {
      margin-top: 0;
    }
  }
  #owl-reviews .item {
    height: auto;
  }
  .logo_xs {
    display: none;
  }
  .blog-card {
    text-align: center;
    padding: 15px;
  }
  .features-features {
    margin-top: 60px;
  }
  .owl-reviews-card__img {
    width: 200px !important;
    height: 200px !important;
  }
  .owl-reviews-card__img img {
    width: 200px !important;
    height: 200px !important;
  }
  .main-map__about {
    max-width: 100% !important;
    width: 100% !important;
    background-size: 1500px 300px !important;
  }
}

@media (max-width: 375px) {
  .home-features__card {
    .home-features__card_border {
      border: none;
    }
    img {
      //border: 6px solid #d3d3d3;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      top: 45px;
      left: 0px;
      right: 0;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border: 6px solid #d3d3d3;
      transition: all 0.2s ease-out;
    }
    &:hover {
      &::after {
        border-color: #ba3223;
        transform: rotate(45deg);
      }
      .home-features__card_border {
        display: none;
      }
    }
  }
}

@media (max-width: 320px) {
  .home-features__card {
    .home-features__card_border {
      border: none;
    }
    img {
      //border: 6px solid #d3d3d3;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      top: 45px;
      left: 0px;
      right: 0;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      border: 6px solid #d3d3d3;
      transition: all 0.2s ease-out;
    }
    &:hover {
      &::after {
        border-color: #ba3223;
        transform: rotate(45deg);
      }
      .home-features__card_border {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home-features {
    .container {
      width: 760px !important;
    }
  }
  .about-features {
    .container {
      width: 760px !important;
    }
  }
  .home-features__card {
    img {
      margin-left: -7px;
    }
  }
  .container {
    width: 1145px;
  }
}

@media (min-width: 10px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block !important;
  }
}