#owl-home .item img {
  display: block;
  width: 100%;
  height: 775px;
  object-fit: cover;
}

#owl-home .owl-controls {
  margin-top: 0;
  top: 95%;
}

#owl-reviews .item {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  height: 300px;
  background: url('../images/review.png');
  object-fit: contain;
  background-size: 100% 100%;
  p {
    font-size: 18px;
    color: #444;
  }
}

.owl-reviews-card {
  display: flex;
  padding-right: 20px;
}

.owl-reviews-card__img {
  width: 300px !important;
  height: 300px !important;
  margin-right: 0px;
  img {
    display: inline-block !important;
    width: 300px !important;
    height: 300px !important;
    object-fit: cover !important;
    -webkit-clip-path: polygon(0px 0px, 0px 300px, 204px 298px, 253px 15.00px);
  }
}

.owl-reviews-card__description {
  p {
    display: block;
    margin-top: 100px;
    height: 130px;
    padding: 10px;
    font-size: 18px;
    color: #444;
    overflow: hidden;
  }
  span {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 24px;
    color: #444;
  }
}

#owl-stocks .item img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.owl-theme .owl-controls {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  z-index: 6;
}

.owl-theme .owl-controls .owl-page span {
  background-color: #c2281c;
}

#owl-sale .item img {
  display: block;
  width: 100%;
  height: 775px;
  object-fit: cover;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 0;
  padding-bottom: 0;
  border-top: 3px solid #c2281c;
}

.dropdown-menu>li>a {
  border-top: 1px solid #ccc;
  transition: all 0.2s ease-out;
  z-index: 101;
  &:hover {
    color: #c2281c;
  }
}

.navbar-nav {
  display: block;
  margin-right: 40px;
  padding-right: 110px;
  border-bottom: 3px solid #c2281c;
}

.nav>li>a {
  padding: 5px 15px !important;
  font-weight: 600;
  color: #211600;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
  &:hover,
  &:active {
    transform: scale(1.1);
    color: #c2281c !important;
  }
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background-color: transparent;
}

.carousel-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-caption {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  font-size: 16px;
  padding: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
  background-color: white;
  text-align: left;
  text-shadow: none;
  color: black;
  p {
    margin: 0;
  }
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.navbar-toggle {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 12;
  img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
  }
}

.owl-theme .owl-controls {
  margin-top: 0;
  top: 45%;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  background-color: transparent;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 10px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 10px;
}

.navbar-collapse {
  padding: 0;
}

.nav>li>a {
  font-size: 16px;
}


/* Reset the container */

.container {
  width: 970px;
  max-width: none !important;
}