// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/owl/owl-carousel/_owl.carousel.scss";
@import "bower_components/owl/owl-carousel/_owl.theme.scss";
@import "bower_components/owl/owl-carousel/_owl.transitions.scss";
//@import "bower_components/lightbox2/dist/css/_lightbox.scss";
@import "bower_components/fancybox/source/_jquery.fancybox.scss";
@import "_atoms.scss";
@import "_restyle.scss";
//@import "_responsive.scss";
// endbower

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px !important;
}